<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UIKit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700|Poppins:300,400,600" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/uikit.min.js"></script>
  </head>
  <body>

    <div class="uk-section">
      <div class="uk-container">
        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
              <h3 class="uk-card-title">Left</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
              <h3 class="uk-card-title">Right</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="uk-section hero">
      <div class="uk-container">



        <div uk-grid class="uk-grid-divider">
          <div class="uk-width-1-4@m">
            <div class="uk-card uk-card-primary uk-card-body">
              <h3 class="uk-card-title">This be an Title</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quisquam temporibus error repellat eveniet culpa molestiae inventore facilis cupiditate qui! Et repudiandae quod dignissimos ex, suscipit maiores, incidunt animi. Veritatis.</p>
              <p>
                414 NW Sturbridge St,
                Ankeny, IA 50023
              </p>
            </div>
          </div>
          <div class="uk-width-1-4@m uk-width-1-2">
            <div class="uk-card uk-card-secondary uk-card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam minus, suscipit! Repudiandae facilis ipsa itaque ipsum inventore sunt quidem ullam, soluta dolores amet culpa mollitia dolor, officiis sequi delectus magni.</p>
            </div>
          </div>
          <div class="uk-width-1-4@m uk-width-1-2">
            <div class="uk-card uk-card-body">
              <p>Unde impedit minima velit nam tempora eaque iste, rem explicabo nemo, aut deleniti molestias error soluta fugiat obcaecati. Iste fugit vero illum nostrum doloribus nulla explicabo, porro at repudiandae nesciunt?</p>
            </div>
          </div>
          <div class="uk-width-1-4@m">
            <div class="uk-card uk-card-default uk-card-body">
              <p>Blanditiis veritatis incidunt eligendi, ipsa consequatur sint assumenda cum in corporis eveniet dolor maxime exercitationem quae! Adipisci quibusdam rerum libero veniam veritatis tempore consequuntur, molestiae, laborum reiciendis et enim, aspernatur?</p>
            </div>
          </div>
          <div class="uk-width-1-3@s">
            <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
              <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minus laudantium minima quos velit expedita cupiditate cum unde! Ea repellat porro modi ab omnis voluptatum explicabo saepe nulla dolor ducimus.</p>
            </div>
          </div>


          <div uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 500; repeat: true" uk-grid>
            <div class="uk-width-1-3@s">
              <div class="">
                <p class="uk-text-left">Unde impedit minima velit nam tempora eaque iste, rem explicabo nemo, aut deleniti molestias error soluta fugiat obcaecati. Iste fugit vero illum nostrum doloribus nulla explicabo, porro at repudiandae nesciunt?</p>
              </div>
            </div>
            <div class="uk-width-1-3@s">
              <div class="">
                <p>Blanditiis veritatis incidunt eligendi, ipsa consequatur sint assumenda cum in corporis eveniet dolor maxime exercitationem quae! Adipisci quibusdam rerum libero veniam veritatis tempore consequuntur, molestiae, laborum reiciendis et enim, aspernatur?</p>
              </div>
            </div>
            <div class="uk-width-1-3@s">
              <div class="">
                <p class="uk-text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minus laudantium minima quos velit expedita cupiditate cum unde! Ea repellat porro modi ab omnis voluptatum explicabo saepe nulla dolor ducimus.</p>
              </div>
            </div>
          </div>




        </div>



      </div><!--/.container-->
    </div><!--/.hero-->


  </body>
</html>
